.kanban-column {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.kanban-column h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .kanban-column {
    width: 90%;
    max-width: none;
  }
}
