.kanban-add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.add-task-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
.kanban-add-task button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.kanban-add-task button:hover {
  background-color: #218838;
}
